@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Italianno&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth !important;
}

main {
  background-color: #8783d1;
}

/* It makes the HTML progress bar filling smooth when value change. */
progress::-webkit-progress-value {
  transition: 0.6s width ease-out;
}

::-webkit-calendar-picker-indicator {
  filter: invert(58%) sepia(10%) saturate(623%) hue-rotate(219deg) brightness(87%) contrast(88%);
}

@layer base {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
  .btn-gradient {
    @apply !bg-gradient !bg-[length:300%_300%] hover:saturate-[1.2] shadow duration-100 !border-0 !border-transparent !bg-transparent animate-shimmer disabled:!bg-none disabled:!bg-gray-500/30 !text-white;
  }

  .btn {
    @apply !capitalize;
  }

  .my-btn {
    @apply h-[56px] px-2 md:px-7 flex items-center justify-between bg-primary-light-purple hover:bg-primary-light-purple-gray transition-all ease-in duration-200 rounded-[20px];
  }

  .my-btn-green {
    @apply h-[48px] px-2 md:px-5 flex items-center justify-between bg-splash-green rounded-[20px] hover:bg-my-neutral-2 transition-all ease-in duration-300;
  }

  .my-btn-clear {
    @apply h-[56px] px-2 md:px-5 flex items-center justify-between border border-my-neutral-7 rounded-[20px] hover:bg-my-neutral-2 transition-all ease-in duration-300;
  }

  .my-btn-clay {
    @apply h-[48px] px-2 md:px-5 flex items-center justify-between bg-my-neutral-6 rounded-[20px] hover:hover:bg-my-neutral-5 transition-all ease-in duration-300;
  }

  .my-input {
    @apply w-full h-10 bg-white outline-none border border-my-neutral-4 focus:border-primary-light-purple placeholder-shown:border-my-neutral-4 placeholder:text-base px-[10px] rounded-md text-[18px] font-jura;
  }

  .add-nested {
    @apply w-max px-6 h-10 font-jura font-semibold mt-4 bg-my-neutral-2 rounded-md flex items-center justify-center gap-2 text-base-content hover:bg-primary-light-purple transition-all ease-in duration-100 hover:text-white;
  }

  .remove-nested {
    @apply w-10 h-10 flex items-center justify-center bg-my-neutral-2 outline-none border border-base-content hover:bg-base-content text-base-content hover:text-base-100 disabled:cursor-not-allowed rounded-md;
  }

  .stroked-text {
    text-shadow: -1px -1px 0 #A9A6E3, 1px -1px 0 #A9A6E3, -1px 1px 0 #A9A6E3, 1px 1px 0 #A9A6E3;
  }

  .collapse-title {
    @apply !text-[16px] md:!text-[20px] !pt-[21px] !pb-[16px] !pl-[20px] !pr-[30px] md:!pt-[34px] md:!pb-[27px] md:!px-[50px]
  }

  .collapse-content {
    @apply !text-[14px] md:!text-[17px] !pt-[0] !pb-[5px] !px-[30px] md:!pb-[7px] md:!px-[70px]
  }

  .my-collapse-plus:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-content {
    @apply !pb-[34px]
  }

  .pill {
    @apply h-[20px] md:h-[32px] flex-none text-sm md:text-base leading-none text-center text-white px-2 md:px-4 lg:px-6 py-[3px] lg:py-[4px] bg-primary-deep-purple-gray rounded-full font-jura font-semibold
  }
  
  .pill-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, max-content));
  }

  .page-header {
    @apply text-[28px] font-semibold text-primary-deep-purple font-montserrat
  }

  .job-select-box {
    @apply bg-splash-green border-2 border-my-neutral-green rounded-[20px]
  }
  
  .scrollable {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
  }

  .scrollable::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .my-scrollable {
    scrollbar-color: #8783D1 #E9E3EE;
    scrollbar-width: thin;
    overflow-y: scroll;
  }

  .cover-letter-input {
    @apply block font-semibold;
  }

  .cover-letter-textarea {
    @apply w-full leading-none resize-none overflow-y-hidden outline-none bg-transparent hyphens-auto;
  }

  .entry-border {
    @apply relative border-2 hover:border-primary -mx-5 px-5;
  }

  .entry-active {
    @apply bg-white border-primary;
  }

  [data-section] {
    transition: all 300ms ease-in-out;
  }

  [data-section]:not(.active) {
    opacity: 0.95;
  }

  @keyframes bounce-horizontal {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px); /* You can adjust the distance of the bounce */
    }
  }
  
  .animate-bounce-horizontal {
    animation: bounce-horizontal 1s ease-in-out infinite;
  }

  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
  
  .animate-gradient {
    background: linear-gradient(to bottom, white, #8783D1); /* from-white to-primary-light-purple-gray */
    background-size: 200% 200%;
    animation: gradient-animation 5s ease infinite;
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.25);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pop-once {
    animation: pop 0.2s ease-in-out;
  }

  @keyframes pop-small {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .pop-once-small {
    animation: pop-small 0.2s ease-in-out;
  }
  
  .my-x-scrollable {
    scrollbar-color: #8783D1 #E9E3EE;
    scrollbar-width: thin;
    overflow-x: scroll;
  }

  @media (width <= 767px) {
    .my-collapse-plus > .collapse-title:after {
      position: absolute;
      display: block;
      background-image: url('/landing/faq-plus.svg');
      background-size: 24px 24px;
      width: 24px; 
      height: 24px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-duration: 300ms;
      top:  22px;
      inset-inline-end: 16px;
      content: "";
      pointer-events: none;
    }

    .my-collapse-plus:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-title:after 
    {
      transform: rotate(45deg);
    }
  }

  @media (width > 767px) {
    .my-collapse-plus > .collapse-title:after {
      position: absolute;
      display: block;
      background-image: url('/landing/faq-plus.svg');
      background-size: 28px 28px;
      width: 28px; 
      height: 28px;
      transition-property: all;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
      transition-duration: 300ms;
      top:  30px;
      inset-inline-end: 30px;
      content: "";
      pointer-events: none;
    }

    .my-collapse-plus:not(.collapse-close) > input[type="radio"]:checked ~ .collapse-title:after 
    {
      transform: rotate(45deg);
    }
  }

  .footer-link {
    @apply font-jura font-semibold text-[16px] md:text-[18px] text-white leading-none tracking-tight underline
  }
  
  .testimonials-button {
    @apply w-[70px] h-[70px] md:w-[60px] md:h-[60px] xl:w-[60px] xl:h-[60px] rounded-full border border-my-neutral-7 bg-transparent hover:bg-my-neutral-7 flex items-center justify-center opacity-75 hover:opacity-100 disabled:opacity-25 disabled:cursor-not-allowed transition-all ease-in-out duration-300
  }
  
  .testimonial-text-highlight {
    @apply font-semibold
  }

  .features-slide {
    @apply flex flex-col flex-none snap-start rounded-[40px] px-[27px] py-[20px] 2xl:px-[40px] 2xl:py-[30px] border-4 border-splash-green w-[500px]
  }
  
  .text-heading {
    @apply text-[30px] md:text-[33px] 2xl:text-[36px] font-medium leading-[1.1] text-center text-white
  }

  .footer-social-container {
    @apply w-9 h-9 md:w-12 md:h-12 rounded-full md:bg-my-neutral-2 flex items-center justify-center
  }

  .footer-social-icon {
    @apply w-5 h-5 md:w-7 md:h-7 fill-white md:fill-my-neutral-7
  }
  
  @media (width <= 767px) {
    .drawer-menu {
      width: 16rem;
    }
  }

  @media (width > 767px) {
    .drawer-menu.collapsed a > span {
      display: none;
    }
  }

  .auth-form-main {
    @apply flex items-center justify-center min-h-screen bg-base-100 md:bg-base-200 font-montserrat
  }

  .auth-form-container {
    @apply w-full md:max-w-lg px-4 md:p-10 space-y-6 card bg-base-100 border-none md:border-2
  }

  .auth-form-header {
    @apply text-xl md:text-2xl font-semibold
  }

  .auth-form-form {
    @apply space-y-4 font-jura
  }

  .auth-form-input {
    @apply input input-bordered w-full
  }

  .auth-form-submit {
    @apply btn btn-primary w-full text-white font-medium text-base
  }

  .auth-form-footer {
    @apply flex flex-col space-y-2 text-xs md:text-sm mt-4
  }

  .tooltip:before {
    border-radius: 0.25rem /* 4px */;
    padding-left: 12px !important;
    padding-right: 12px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    background-color: var(--tooltip-color);
    color: var(--tooltip-text-color);
    width: max-content;
  }

  @media (width <= 767px) {
    .tooltip:before {
      max-width: 180px !important;
    }
  }

  @media (width > 767px) {
    .tooltip:before {
      max-width: 320px !important;
    }
  }

  .form-select {
    appearance: none;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-size: 0.7rem;
    background-position: right 0.7rem center;
  }

  /* :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  } */
}

/* @layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
} */